* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.logo {
  width: 3.125rem;
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
}

h1 {
  font-size: 35px;
  width: 545px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.section-close {
  margin-bottom: 10px;
}
.section-close .close {
  right: 10px;
  top: 20px;
  height: 30px;
  width: 30px;
  border: none;
  font-size: 15px;
  background-color: transparent;
}

footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.iconos {
  font-size: 35px;
  color: white;
}
.iconos:hover {
  color: blueviolet;
}

.nav-completa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px black;
  border-radius: 40px;
  width: 450px;
  margin: 10px auto;
  position: sticky;
}

.nav-completa {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3px;
  gap: 15px;
  width: 450px;
}

.item-completa {
  margin-top: 5px;
  font-size: 10px;
  padding: 1px;
  border: solid 1px black;
  border-radius: 45px;
  width: 70px;
  height: 20px;
  text-align: center;
}

header {
  width: 100%;
  position: absolute;
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: black;
}

.titulo-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 170px;
  font-family: "Poppins", sans-serif;
}

.item-about {
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  width: 545px;
  color: white;
}

.offcanvas-body, .offcanvas-title {
  background-color: black;
  color: white;
}

@media (min-width: 576px) {
  h1 {
    justify-self: center;
  }
  .menu-mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 450px;
    font-size: 25px;
  }
  .nav-completa {
    display: none;
  }
}
@media (min-width: 520px) {
  footer {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .item-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
  }
}
.titulos-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 170px auto;
  font-size: 25px;
  width: 85%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.contenedor-padre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}

.reverse {
  text-align: right;
  margin-right: 20px;
}

.contenedor, .reverse {
  flex-direction: column-reverse;
  margin-bottom: 50px;
}

.contenedor-services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.padre-ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ul-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.p-item {
  color: white;
  margin: 0px 10px;
}

.btn-services {
  margin: 0 auto 70px auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 60%;
}
.btn-services:hover {
  background-color: blueviolet;
  color: white;
}

.contenedor-services .p-oculto {
  opacity: 0;
  color: white;
  transform: scale(0.9);
  transition: 0.7s ease-in-out all;
}

.contenedor-services p.visible {
  opacity: 1;
  transform: scale(1) translateX(-10px);
  font-size: 14px;
}

.contenedor .p-oculto {
  font-family: "Poppins", sans-serif;
  opacity: 0;
  color: white;
  transform: scale(0.9);
  transition: 0.7s ease-in-out all;
}

.contenedor li.visible {
  list-style: circle;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  opacity: 1;
  transform: scale(1) translateX(-10px);
}

#faq {
  padding-top: 25px;
}

.contenedor-faq {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.titulo-faq {
  margin: 0 auto;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 85%;
  margin-bottom: 20px;
}

.question {
  justify-self: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  color: white;
}
.question:hover {
  color: blueviolet;
}

.card {
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  background-color: black;
  color: white;
}
.card:hover {
  color: blueviolet;
}

.li-faq {
  list-style: style;
  list-style-type: circle;
  text-align: start;
}

#acerca-de {
  padding-top: 10px;
  margin: 0px auto;
  margin-bottom: 170px;
  font-family: "Poppins", sans-serif;
}
#acerca-de #typedtext {
  font-size: 12px;
  width: 85%;
  text-align: center;
}
#acerca-de p {
  margin-top: 130px;
}

/*# sourceMappingURL=styles.css.map */
