#acerca-de {
  padding-top: 10px;
  margin: 0px auto;
  margin-bottom: 170px;
  font-family: 'Asap', sans-serif;
    #typedtext {
      font-size: 14rem * 0.0625;
      width: 85%;
      text-align: center;
    }
    p {
      margin-top: 130px;
    }
}