@mixin flex-column-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

$font-tittle: 'Raleway', sans-serif;
$font-resto: 'Asap', sans-serif;

#faq {
    padding-top: 25px
}

.contenedor-faq {
    @include flex-column-justify;
    margin-top: 20px;
}

.titulo-faq {
    color: white;
    margin: 0 auto;
    font-size: 25rem * 0.0625;
    font-family: $font-tittle;
    text-align: center;
    width: 85%;
    margin-bottom: 20px;
}

.question {
    font-family: $font-tittle;
    justify-self: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;;
    color: white;
        &:hover {
            color: blueviolet;
        }
}

.card {
    font-family: $font-resto;
    margin: 0 auto;
    text-align: center;
    font-size: 13rem * 0.0625;
    background-color: black;
    color: white;
        &:hover {
            color: blueviolet;
        }
}

.li-faq {
    list-style: style;
    list-style-type: circle;
    text-align: start;
}
