@mixin flex-wrap-justify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.logo {
    width: 50rem * 0.0625;
    display: block;
    margin: 0 auto;
}

li {
    list-style: none;
}

h1 {
    font-size: 35px;
    width: 545px;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.section-close {
    margin-bottom: 10px;
     .close {
        right: 10px;
        top: 20px;
        height: 30px;
        width: 30px;
        border: none;
        font-size: 15px;
        background-color: transparent;
     }
}

footer {
    @include flex-wrap-justify;
    gap: 10px;
}

.iconos {
    font-size: 35px;
    color: white;
}

.nav-completa {
    @include flex-wrap-justify;
    border: solid 1px black;
    border-radius: 40px;
    width: 450px;
    margin: 10px auto;
    position: sticky;
}

.nav-completa {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3px;
    gap: 15px;
    width: 450px;
}
    
.item-completa {
        margin-top: 5px;
        font-size: 10px;
        padding: 1px;
        border: solid 1px black;
        border-radius: 45px;
        width: 70px;
        height: 20px;
        text-align: center;
}

header {
        width: 100%;
        position: absolute;
        position: sticky;
        top: 0;
        z-index: 99999;
        background-color: black;
}