@mixin flex-wrap-justify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

$font-tittle:'Poppins', sans-serif;

.titulo-index {
    @include flex-wrap-justify;
    margin-top: 170px;
    margin-bottom: 170px;
    font-family: $font-tittle;
}

.item-about {
    margin: 0 auto;
    text-align: center;
    font-size: 14rem * 0.0625;
    width: 545px;
    color: white;
}

.offcanvas-body, .offcanvas-title{
    background-color: black;
    color: white;
}