@mixin flex-wrap-justify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-index {
    @include flex-wrap-justify;
    margin-top: 170px;
    margin-bottom: 170px;
}

.item-about {
    text-align: center;
    margin: 0 auto;
    font-size: 14rem * 0.0625;
    width: 545px;
}