@mixin flex-wrap-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 576px) {
    h1 {
        justify-self: center;
    }

    .menu-mobile {
        display: none;
    }
}

@media (max-width: 575px) {
    h1 {
        @include flex-wrap-justify;
        text-align: center;
        width: 450px;
        font-size: 25rem * 0.0625;
    }

    .nav-completa {
        display: none;
    }
}

@media (min-width: 520px) {
    footer {
        flex-direction: row;
    }
}

@media (max-width: 640px){

    .item-about {
        @include flex-wrap-justify;
        flex-wrap: wrap;
        width: 65%;
    } 

}