@mixin flex-row-justify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin flex-column-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

$font-title: 'Raleway', sans-serif;
$font-resto: 'Asap', sans-serif;

.titulos-services {
    @include flex-row-justify;
    text-align: center;
    margin: 170px auto;
    font-size: 25rem * 0.0625;
    width: 85%;
    font-family: $font-title;
    color: white
}

.contenedor-padre{
    @include flex-column-justify;
    font-size: 14rem 0.0625;
}

.reverse {
    text-align: right;
    margin-right: 20px;
}

.contenedor, .reverse {
    flex-direction: column-reverse;
    margin-bottom: 50px;
}

.contenedor-services {
    @include flex-column-justify;
}

.padre-ol {
    @include flex-column-justify;
    gap: 20px;
}

.ul-item {
    @include flex-column-justify;
    gap: 10px;
}

.p-item {
    color: white;
    margin: 0px 10px;
    font-family: $font-title;
}

.btn-services {
    font-family: $font-resto;
    margin: 0 auto 70px auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 60%;
        &:active {
            background-color: blueviolet;
            color: white;
        }
}

.contenedor-services .p-oculto {
        font-family: $font-resto;
        opacity: 0;
        color: white;
        transform: scale(0.9);
        transition: .7s ease-in-out all;
    }

.contenedor-services p.visible {
    opacity: 1;
	transform: scale(1) translateX(-10px);
    font-size: 15rem * 0.0625;
}

.contenedor .p-oculto {
        font-family: $font-resto;
        opacity: 0;
        color: white;
        transform: scale(0.9);
        transition: .7s ease-in-out all;
}

.contenedor li.visible {
    list-style: circle;
    font-size: 13rem * 0.0625;
    font-family: $font-resto;
    opacity: 1;
	transform: scale(1) translateX(-10px);
}